@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Our Bank!</h1>

<a asp-action="Index" asp-controller="Seed" class="btn btn-success">Seeding Links</a>
<a asp-action="Register" asp-controller="User" class="btn btn-success">Register</a>
<a asp-action="Login" asp-controller="User" class="btn btn-success">Login</a>
