<h2>Press these buttons to seed your roles and users!</h2>

<a asp-action="Index" asp-controller="Home" class="btn btn-success">Go Home</a>
<a asp-action="SeedPeople" asp-controller="Seed" class="btn btn-success">Seed Users</a>
<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-success">Seed Roles</a>
<a asp-action="SeedAccounts" asp-controller="Seed" class="btn btn-success">Seed Accounts</a>
<a asp-action="SeedStockPortfolios" asp-controller="Seed" class="btn btn-success">Seed Portfolios</a>
<a asp-action="SeedStockTypes" asp-controller="Seed" class="btn btn-success">Seed StockTypes</a>
<a asp-action="SeedStocks" asp-controller="Seed" class="btn btn-success">Seed Stocks</a>
<a asp-action="SeedTransactions" asp-controller="Seed" class="btn btn-success">Seed Transactions</a>
<a asp-action="SeedDisputes" asp-controller="Seed" class="btn btn-success">Seed Disputes</a>
<a asp-action="SeedStockTransactions" asp-controller="Seed" class="btn btn-success">Seed Stock Transactions</a>
