@model Project_S.L.A.Y.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrtiption" class="control-label"></label>
                <input asp-for="Descrtiption" class="form-control" />
                <span asp-validation-for="Descrtiption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="ProductType">Product Type:</label>
                <select class="form-control" data-val="true" data-val-required="The Product Type: field is required." id="ProductType" name="ProductType">
                    <option value="0">New Hardback</option>
                    <option value="1">New Paperback</option>
                    <option value="2">Used Hardback</option>
                    <option value="3">Used Paperback</option>
                    <option value="4">Other</option>
                </select>
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductType" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Suppliers:</label>
                @Html.ListBox("Suppliers", (MultiSelectList)ViewBag.AllSuppliers, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

