@model String

@{
    ViewData["Title"] = "Select a Customer";
}

<h1>Select the Customer for the Order</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectCustomerForOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">All Customers:</label>
                @Html.DropDownList("SelectedCustomer", (SelectList)@ViewBag.UserNames, new { @class = "form-control" })
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Select Customer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>